
<%= stylesheet_link_tag 'admins', media: 'all' %>

<div class="container">
  <div class="row index-page">
    <h2>Admins</h2>
    <table class="table">
        <thead>
          <tr>
            <th class="id-th">ID</th>
            <th class="date-th">登録日</th>
            <th class="image-th"></th>
            <th class="admin-name-th">管理者名</th>
            <th></th>
          </tr>
        </thead>

        <% @admins.each do |admin| %>
        <tbody>
          <tr>
            <td><%= admin.id %></td>
            <td><%= admin.created_at.strftime("%Y-%m-%d") %></td>
            <td><%= attachment_image_tag admin, :admin_image, :fill, 30, 30, format: 'jpeg', fallback: "/images/no_image.jpg" %></td>
            <td><%= admin.admin_name %></td>
            <td><%= link_to "編集", edit_admin_path(admin), class: "btn" %></td>
          </tr>
        </tbody>
        <% end %>
    </table>
  </div>
</div>


