
<%= stylesheet_link_tag 'admins', media: 'all' %>

<div class="container">
  <div class="row user-index">
    <h2>Users</h2>
    <p>総ユーザー <%= @users.length %></p>
    <table class='table'>
        <thead>
          <tr>
            <th>ID</th>
            <th>登録日時</th>
            <th>氏名</th>
          </tr>
        </thead>
        <% @users.each do |user| %>
        <tbody>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.created_at.strftime("%Y.%m.%d") %></td>
            <td><%= user.name %></td>
          </tr>
        </tbody>
        <% end %>
    </table>
  </div>
</div>

