
<div id="<%= task.id %>" class="task-group">
	<div class="task-box">
		<div class="task-check">
			<input type="checkbox" name="checkbox" class="checkbox" value="/tasks/<%= task.id %>/clear" <% if task.status == 3 %> checked <% end %> />
		</div>
		<div class="detail-box">
			<% if task.task_detail.time_limit.nil? || task.task_detail.time_limit < 1 %>
				<p class="title"><%= task.title %></p>
			<% else %>
				<p class="title"><%= link_to task.title, task_task_details_path(task) %></p>
			<% end %>
			<p class="details">
				<% if task.task_detail.deadline.present? %>
					<%= task.task_detail.deadline.strftime("%Y.%m.%d") %>
				<% end %>
				<% if task.task_detail.time_limit.present? && task.status < 3 %>
					<% hr = task.task_detail.time_limit/3600 %>
					<% min = task.task_detail.time_limit/60%60 %>
					　残り <%= hr %>時間 <%= min %>分
				<% end %>
				<% if task.status == 3 %>
					<a href="#modal<%= task.id %>" data-lity="data-lity"><span class="clear-text">clear</span>＊</a>
				<% else %>
					<a href="#modal<%= task.id %>" data-lity="data-lity">＊</a>
				<% end %>
			</p>
		</div>
	</div>
	<div id="modal<%= task.id %>" class="lity-hide">
		<div class="modal-content">
			<div class="modal-form">
			    <h3>Task edit</h3>
			    <hr>
				<%= form_for task, url: task_path(task) do |f|%>
					<div class="field">
					  	<%= f.label :title, "タスク名" %><br />
					  	<%= f.text_field :title %>
					</div>
					<%= f.fields_for :task_detail do |d| %>
						<div class="field">
							<%= d.label :deadline, "締め切り" %><br />
							<%= d.date_field :deadline %>
						</div>
					<% end %>
					<div class="actions">
					  	<%= f.submit '更新', class: "edit-btn" %>
					</div>
				<% end %>
				<%= link_to "delete", task_path(task), method: :delete, class: 'delete-btn', "data-confirm" => "本当に削除しますか?" %>
			</div>
		</div>
	</div>
</div>

