
<%= stylesheet_link_tag "task_groups/index", :media => "all" %>

<main>
	<div class="container">

		<div class="row headline">
			<h2>Task list</h2>
		</div>
		<div class="group-status">
			<% @task_groups.each do |task| %>
				<div id="<%= task.id %>" class="task-group">
					<h4><%= link_to task.title.truncate(20), task_group_path(task), class: "task-title" %></h4>
					<hr>
					<div class="task-content">
						<p class="task-text"><%= task.content %></p>
					</div>
					<div class="task-info">
						<p>InBox : <span class="<% if task.tasks.where(status: 1).size > 0 %>status-color<% end %>"><%= task.tasks.where(status: 1).size %></span></p>
						<p>OnGoing : <span class="<% if task.tasks.where(status: 2).size > 0 %>status-color<% end %>"><%= task.tasks.where(status: 2).size %></span></p>
						<p>Done : <%= task.tasks.where(status: 3).size %></p>
						<p><a href="#edit-modal<%= task.id %>" data-lity="data-lity">＊</a></p>
					</div>

					<div id="edit-modal<%= task.id %>" class="lity-hide">
						<div class="modal-content">
							<div class="modal-form">
							    <h3>List edit</h3>
							    <hr>
								<%= form_for task, url: task_group_path(task)  do |f| %>
									<div class="field">
									  	<%= f.label :title, "リスト名" %><br />
									  	<%= f.text_field :title %>
									</div>
									<div class="field">
										<%= f.label :content, "説明", class: "label-content" %><br />
										<%= f.text_area :content %>
									</div>
									<div class="actions">
									  	<%= f.submit '更新', class: "edit-btn" %>
									</div>
								<% end %>
								<%= link_to "削除", task_group_path(task), method: :delete, class: 'delete-btn', "data-confirm" => "本当に削除しますか?" %>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
		<div class="task-group group2">
			<a href="#create-modal" class="plus-mark" data-lity="data-lity">＋</a>
		</div>
		<div id="create-modal" class="lity-hide">
			<div class="modal-content">
				<div class="modal-form">
				    <h3>List create</h3>
				    <hr>
					<%= form_for(@task_group) do |f| %>
						<div class="field">
						  	<%= f.label :title, "リスト名" %><br />
						  	<%= f.text_field :title %>
						</div>
						<div class="field">
							<%= f.label :content, "説明", class: "label-content" %><br />
							<%= f.text_area :content %>
						</div>
						<div class="actions">
						  	<%= f.submit '作成', class: "edit-btn" %>
						</div>
					<% end %>
				</div>
			</div>
		</div>

	</div>
</main>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<%= javascript_include_tag "task_group.js" %>

