
<%= stylesheet_link_tag "task_groups/show", :media => "all" %>

	<div class="row ok">
		<ul class="nav group-list">
			<li><h2><%= @task_group.title %></h2></li>
			<% @task_groups.each do |group| %>
				<li class="other-group"><%= link_to group.title, task_group_path(group.id) %></li>
			<% end %>
		</ul>
		<p class="plus-mark"><a href="#create-modal" data-lity="data-lity">＋</a></p>
	</div>

	<div class="row task-list">
		<div class="col-lg-4 status-box" >
			<a href="#group1" data-lity="data-lity"><h3>InBox</h3></a>
			<div class="status-field status1">
				<% @tasks.where(status: 1).order(position: :asc).each do |task| %>
					<%= render 'task_groups/task', task: task %>
				<% end %>
			</div>
		</div>
		<div class="col-lg-4 status-box" >
			<a href="#group2" data-lity="data-lity"><h3>OnGoing</h3></a>
			<div class="status-field status2">
				<% @tasks.where(status: 2).order(position: :asc).each do |task| %>
				<%= render 'task_groups/task', task: task %>
				<% end %>
			</div>
		</div>
		<div class="col-lg-4 status-box" >
			<div class="done">
				<a href="#group3" data-lity="data-lity"><h3>Done</h3></a>
				<%= link_to "clear", task_group_path(@task_group.id, status: 3), method: :delete, class: 'clear', "data-confirm" => "本当に削除しますか?" %>
			</div>
			<div class="status-field status3">
				<% @tasks.where(status: 3).order(position: :asc).each do |task| %>
					<%= render 'task_groups/task', task: task %>
				<% end %>
			</div>
		</div>
	</div>


<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<%= javascript_include_tag "task_group.js" %>

<%= form_tag position_update_path, :method => 'post', id: "position" do %>
    <input type="hidden" id="result1" name="result1" />
    <input type="hidden" id="result2" name="result2" />
    <input type="hidden" id="result3" name="result3" />
<% end %>

<div id="group1" class="lity-hide">
	<div class="tasks-show">
		<% @tasks.where(status: 1).order(position: :asc).each do |task| %>
			<%= render 'task_groups/task', task: task %>
		<% end %>
	</div>
</div>

<div id="group2" class="lity-hide">
	<div class="tasks-show">
		<% @tasks.where(status: 2).order(position: :asc).each do |task| %>
			<%= render 'task_groups/task', task: task %>
		<% end %>
	</div>
</div>

<div id="group3" class="lity-hide">
	<div class="tasks-show">
		<% @tasks.where(status: 3).order(position: :asc).each do |task| %>
			<%= render 'task_groups/task', task: task %>
		<% end %>
	</div>
</div>

<div id="create-modal" class="lity-hide">
	<div class="tasks-show">
		<%= form_for @task_new, url: tasks_path(group_id: @task_group.id) do |f| %>
			<div class="field">
			  	<%= f.label :title %><br />
			  	<%= f.text_field :title %>
			</div>
			<div class="field">
			  	<%= f.label :status %><br />
			  	<%= f.number_field :status, value: 1 %>
			</div>
			<div class="actions">
			  <%= f.submit '作成', class: "btn btn-primary" %>
			</div>
		<% end %>
	</div>
</div>


