
<%= stylesheet_link_tag "task_groups/show", :media => "all" %>

	<div class="row ok">
		<ul class="nav group-list">
				<li><h2><%= @task_group.title %></h2></li>
			<% @task_groups.each do |group| %>
				<li class="other-group"><%= link_to group.title, task_group_path(group.id) %></li>
			<% end %>
		</ul>
		<p class="plus-mark"><a href="#create-modal" class="modalOpen">＋</a></p>
	</div>

	<div class="row task-list">
		<div class="col-lg-4 status-box status1" >
			<h3>InBox</h3>
			<% @tasks.where(status: 1).each do |task| %>
				<div id="<%= task.id %>" class="task-group">
					<%= task.title %>
					<input type="checkbox" name="checkbox" class="checkbox" value="/tasks/<%= task.id %>/clear" />
					<p><a href="#modal<%= task.id %>" class="modalOpen">＊</a></p>
					<div class="modal" id="modal<%= task.id %>">
				    	<div class="overLay modalClose"></div>
				    	<div class="inner">
				    		<div class="modal-form">
					    		<%= form_for task, url: task_path(task.id) do |f|%>
								  	<%= f.text_field :title %>
								  	<%= f.number_field :status %>
								  	<%= f.submit '更新' %>
								<% end %>
							</div>
				    		<a href="" class="modalClose"><p class="close-mark">×</p></a>
				    	</div>
					</div>
					<%= link_to "delete", task_path(task.id), method: :delete, class: 'btn', "data-confirm" => "本当に削除しますか?" %>
				</div>
			<% end %>
		</div>
		<div class="col-lg-4 status-box status2" >
			<h3>OnGoing</h3>
			<% @tasks.where(status: 2).each do |task| %>
				<div id="<%= task.id %>" class="task-group">
					<%= task.title %>
					<input type="checkbox" name="checkbox" class="checkbox" value="/tasks/<%= task.id %>/clear" />
					<p><a href="#modal<%= task.id %>" class="modalOpen">＊</a></p>
					<div class="modal" id="modal<%= task.id %>">
				    	<div class="overLay modalClose"></div>
				    	<div class="inner">
				    		<div class="modal-form">
					    		<%= form_for task, url: task_path(task.id) do |f|%>
								  	<%= f.text_field :title %>
								  	<%= f.number_field :status %>
								  	<%= f.submit '更新' %>
								<% end %>
							</div>
				    		<a href="" class="modalClose"><p class="close-mark">×</p></a>
				    	</div>
					</div>
					<%= link_to "delete", task_path(task.id), method: :delete, class: 'btn', "data-confirm" => "本当に削除しますか?" %>
				</div>
			<% end %>
		</div>
		<div class="col-lg-4 status-box status3" >
			<div class="done">
				<h3>Done</h3>
				<%= link_to "clear", task_group_path(@task_group.id, status: 3), method: :delete, class: 'clear', "data-confirm" => "本当に削除しますか?" %>
			</div>
			<% @tasks.where(status: 3).each do |task| %>
				<div id="<%= task.id %>" class="task-group">
					<%= task.title %>
					<input type="checkbox" name="checkbox" class="checkbox" value="/tasks/<%= task.id %>/clear" checked />
					<p><a href="#modal<%= task.id %>" class="modalOpen">＊</a></p>
					<div class="modal" id="modal<%= task.id %>">
				    	<div class="overLay modalClose"></div>
				    	<div class="inner">
				    		<div class="modal-form">
					    		<%= form_for task, url: task_path(task.id) do |f|%>
								  	<%= f.text_field :title %>
								  	<%= f.number_field :status %>
								  	<%= f.submit '更新' %>
								<% end %>
							</div>
				    		<a href="" class="modalClose"><p class="close-mark">×</p></a>
				    	</div>
					</div>
					<%= link_to "delete", task_path(task.id), method: :delete, class: 'btn', "data-confirm" => "本当に削除しますか?" %>
				</div>
			<% end %>
		</div>
	</div>

<div class="modal" id="create-modal">
	<div class="overLay modalClose"></div>
	<div class="inner">
	    <div class="modal-form">
	    	<%= form_for @task_new, url: tasks_path(group_id: @task_group.id) do |f| %>
				<div class="field">
				  	<%= f.label :title %><br />
				  	<%= f.text_field :title %>
				</div>
				<div class="field">
				  	<%= f.label :status %><br />
				  	<%= f.number_field :status, value: 1 %>
				</div>
				<div class="actions">
				  <%= f.submit '作成', class: "btn btn-primary" %>
				</div>
			<% end %>
		</div>
		<a href="" class="modalClose"><p class="close-mark">×</p></a>
	</div>
</div>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


<p>並び順１　<span id="result1"></span></p>
<p>並び順２　<span id="result2"></span></p>
<p>並び順３　<span id="result3"></span></p>

<%= javascript_include_tag "task_group.js" %>

