
<h2>Memory Groups</h2>
<table class='table'>
	<thead>
		<tr>
			<th>title</th>
			<th>content</th>
		</tr>
	</thead>
	<% @memory_groups.each do |memory_group| %>
		<tbody>
			<tr>
				<td><%= link_to memory_group.title, memory_group_path(memory_group) %></td>
				<td><%= memory_group.content %></td>
			</tr>
		</tbody>
	<% end %>
</table>

<h2>Memory Group作成</h2>
<%= form_for(@memory_group) do |f| %>

	<div class="field row">
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</div>

	<div class="field row">
		<%= f.label :content %><br />
		<%= f.text_area :content %>
	</div>

	<div class="actions row">
		<%= f.submit '作成', class: "btn btn-primary" %>
	</div>
<% end %>
<% if current_user.default_stages.maximum(:stage).nil? %>
	<h2>Stage2作成</h2>
<% else %>
	<h2>Stage<%= current_user.default_stages.maximum(:stage) + 1 %>作成</h2>
<% end %>
<%= form_for @default_stage, url: default_stages_path do |s| %>

	<div class="field row">
		<%= s.label :period %><br />
		<%= s.number_field :period %>
	</div>

	<div class="actions row">
		<%= s.submit '作成', class: "btn btn-primary" %>
	</div>
<% end %>

<h2>Default Stage一覧</h2>
<table class="table">
	<tr>
		<td>stage1</td>
		<td>1日</td>
	</tr>

	<% current_user.default_stages.where.not(stage: nil).each do |default_stage| %>
		<tr>
			<td>stage<%= default_stage.stage %></td>
			<td><%= default_stage.period %>日</td>
		</tr>
	<% end %>
</table>
