
<%= stylesheet_link_tag "memory_groups/show", :media => "all" %>

<style type="text/css" media="screen">
	.today-box {
 	 	min-width: 50vw;
 	 	<% if @memory_group.memory_stages.present? %>
 	 		width: <%= (@memory_group.memory_stages.length) * 10 %>vw;
 	 	<% end %>
	}
</style>

<div class="container">
	<div class="row headline">
		<h2><%= @memory_group.title %></h2>
		<p><%= @memory_group.content%></p>
		<%= link_to 'Memory Step', memory_group_memory_stages_path(@memory_group), class: "stage-link" %>
	</div>
	<hr>
	<div class="today-box">
		<h3>List of today</h3>
  		<div class="folder-tabs">
  			<% if @today_memories.present? %>
  				<div class="first-tab"><%= link_to "All Step", memory_group_memories_path(@memory_group.id, stage: "all") %></div>
			    <% if @today_memories.where(stage: 1).present? %>
			    	<div class="behind-tab"><%= link_to "Step1", memory_group_memories_path(@memory_group.id, stage: 1) %></div>
			    <% end %>
			    <% @memory_group.memory_stages.where.not(stage: nil).each do |n| %>
		    		<% if @today_memories.where(stage: n.stage).present? %>
			    		<div class="behind-tab">
			    			<%= link_to memory_group_memories_path(@memory_group.id, stage: n.stage) do %>Step<%= n.stage %><% end %>
			    		</div>
			    	<% end %>
			    <% end %>
  			<% end %>
  		</div>
		<div class="folder-body">
			<ul class="chart">
				<li>
					<span style="height:<% if @today_memories.empty? %>0
						<% else %><%= (100 / @today_memories.length) * @today_memories.where(stage: 1).length %><% end %>%" title="step1">
						<p class="stage-period">
							<% if @today_memories.empty? || @today_memories.where(stage: 1).length == 0%><span class="clear">clear</span>
							<% else %><%= @today_memories.where(stage: 1).length %>個<% end %></p>
					</span>
				</li>
				<% @memory_group.memory_stages.where.not(stage: nil).each do |n| %>
					<li>
						<span style="height:<% if @today_memories.empty? %>0
						<% else %><%= (100 / @today_memories.length) * @today_memories.where(stage: n.stage).length %><% end %>%" title="step<%= n.stage %>">
							<p class="stage-period">
								<% if @today_memories.empty? || @today_memories.where(stage: n.stage).length == 0  %><span class="clear">clear</span>
								<% else %><%= @today_memories.where(stage: n.stage).length %>個<% end %></p>
						</span>
					</li>
				<% end %>
			</ul>
		</div>
		<a href="#create-modal" class="new-memory" data-lity="data-lity"><h3>new memory</h3></a>
		<div id="create-modal" class="lity-hide">
		 	<div class="modal-content">
				<div class="modal-form">
				    <h3>Memory create</h3>
				    <hr>
				    <%= form_for [@memory_group,@memory] do |f| %>
					    <div class="problem-box">
					    	<%= f.fields_for :problem_image do |p_image| %>
								<div class="field">
									<label class="label-box" for="memory_problem_image_attributes_problem_image">
								      <div class="img-box">
								        <img class="preview_memory_problem_image_attributes_problem_image" >
								        <i class="far fa-image"></i>
								      </div>
								    </label>
									<%= p_image.attachment_field :problem_image %>
								</div>
							<% end %>
					    	<%= f.fields_for :problem do |problem| %>
								<div class="field">
									<%= problem.label :problem_content %><br />
									<%= problem.text_area :problem_content %>
								</div>
							<% end %>
					    </div>
					    <div class="answer-box">
					    	<%= f.fields_for :answer_image do |a_image| %>
								<div class="field">
									<label class="label-box" for="memory_answer_image_attributes_answer_image">
										<div class="img-box">
											<img class="preview_memory_answer_image_attributes_answer_image" >
											<i class="far fa-image"></i>
										</div>
									</label>
									<%= a_image.attachment_field :answer_image %>
								</div>
							<% end %>
					    	<%= f.fields_for :answer do |answer| %>
								<div class="field">
									<%= answer.label :answer_content %><br />
									<%= answer.text_area :answer_content %>
								</div>
							<% end %>
					    </div>
						<div class="actions">
							<%= f.submit '作成', class: "edit-btn" %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="today-box2">
		<h3>List of today</h3>
		<table class='table'>
			<tbody>
				<% if @today_memories.present? %>
					<tr>
						<td><%= link_to "All Step", memory_group_memories_path(@memory_group, stage: "all") %></td>
						<td><%= @today_memories.length %>個</td>
					</tr>
					<% @memory_group.memory_stages.where.not(stage: nil).each do |n| %>
						<% if @today_memories.where(stage: n.stage).present? %>
							<tr>
								<td>
									<%= link_to memory_group_memories_path(@memory_group, stage: n.stage) do %>
										Step <%= n.stage %>
									<% end %>
								</td>
								<td><%= @today_memories.where(stage: n.stage).length %>個</td>
							</tr>
						<% end %>
					<% end %>
				<% end %>
			</tbody>
		</table>
		<div class="modal-form">
		    <h3>Memory create</h3>
		    <hr>
		    <%= form_for [@memory_group,@memory] do |f| %>
			    <div class="problem-box">
			    	<%= f.fields_for :problem_image do |p_image| %>
						<div class="field">
							<label class="label-box" for="memory_problem_image_attributes_problem_image">
						      <div class="img-box">
						        <img class="preview_memory_problem_image_attributes_problem_image" >
						        <i class="far fa-image"></i>
						      </div>
						    </label>
							<%= p_image.attachment_field :problem_image %>
						</div>
					<% end %>
			    	<%= f.fields_for :problem do |problem| %>
						<div class="field">
							<%= problem.label :problem_content %><br />
							<%= problem.text_area :problem_content %>
						</div>
					<% end %>
			    </div>
			    <div class="answer-box">
			    	<%= f.fields_for :answer_image do |a_image| %>
						<div class="field">
							<label class="label-box" for="memory_answer_image_attributes_answer_image">
								<div class="img-box">
									<img class="preview_memory_answer_image_attributes_answer_image" >
									<i class="far fa-image"></i>
								</div>
							</label>
							<%= a_image.attachment_field :answer_image %>
						</div>
					<% end %>
			    	<%= f.fields_for :answer do |answer| %>
						<div class="field">
							<%= answer.label :answer_content %><br />
							<%= answer.text_area :answer_content %>
						</div>
					<% end %>
			    </div>
				<div class="actions">
					<%= f.submit '作成', class: "edit-btn" %>
				</div>
			<% end %>
		</div>
	</div>
</div>
p
<% @memory_group.memories.each do |n| %>
	<%= n.problem.id %>
<% end %><br>
p-i
<% @memory_group.memories.each do |n| %>
	<%= n.problem_image.id %>
<% end %>
<script>
	$('input[type=file]').on('change', function (e) {
		var str = $(this).attr("id");
	    var reader = new FileReader();
	    reader.onload = function (e) {
	        $(".preview_" + str).attr('src', e.target.result);
	    }
	    reader.readAsDataURL(e.target.files[0]);
	});
</script>