
<%= stylesheet_link_tag "memory_groups/show", :media => "all" %>

<style type="text/css" media="screen">
	.today-box {
 	 	min-width: 50vw;
 	 	<% if @memory_group.memory_stages.present? %>
 	 		<% if @memory_group.loop == 1 %>
 	 			width: <%= (@memory_group.memory_stages.length + 1) * 9 %>vw;
 	 		<% else %>
 	 			width: <%= (@memory_group.memory_stages.length) * 10 %>vw;
 	 		<% end %>
 	 	<% end %>
	}
</style>

<div class="container">
	<div class="row headline">
		<h2><%= @memory_group.title.truncate(19) %></h2>
		<p><%= @memory_group.content.truncate(20) %></p>
		<ul>
			<li><a href="#create-modal" class="new-memory" data-lity="data-lity">new memory</a></li>
			<li><%= link_to "all memories", memories_path(group: @memory_group) %></li>
			<li><%= link_to 'step list', memory_group_memory_stages_path(@memory_group), class: "stage-link" %></li>
		</ul>
	</div>
	<hr>
	<div class="today-box">
		<h3>List of today</h3>
  		<div class="folder-tabs">
  			<% if @today_memories.present? %>
  				<div class="first-tab"><%= link_to "All Step", memory_group_memories_path(@memory_group, stage: "all") %></div>
			    <% if @today_memories.where(stage: 1).present? %>
			    	<div class="behind-tab"><%= link_to "Step1", memory_group_memories_path(@memory_group, stage: 1) %></div>
			    <% end %>
			    <% @memory_group.memory_stages.where.not(stage: nil).each do |n| %>
		    		<% if @today_memories.where(stage: n.stage).present? %>
			    		<div class="behind-tab">
			    			<%= link_to memory_group_memories_path(@memory_group, stage: n.stage) do %>Step<%= n.stage %><% end %>
			    		</div>
			    	<% end %>
			    <% end %>
			<% end %>
		    <% if @memory_group.loop == 1 %>
		    	<% if @today_memories.where(stage: 0).present? %>
			    	<div class="behind-tab"><%= link_to "Comp", memory_group_memories_path(@memory_group, stage: 0) %></div>
			    <% end %>
		    <% end %>
  		</div>
		<div class="folder-body">
			<ul class="chart">
				<li>
					<% if @memory_group.loop == 1 %>
						<span style="height:<% if @today_memories.empty? %>0<% else %><%= (100 / @today_memories.length) * @today_memories.where(stage: 1).length %><% end %>%" title="step1">
							<p class="stage-period">
								<% if @today_memories.empty? || @today_memories.where(stage: 1).length == 0%><span class="clear">clear</span>
								<% else %><%= @today_memories.where(stage: 1).length %>個<% end %></p>
						</span>
					<% else %>
						<span style="height:<% if @today_memories.empty? %>0<% else %><%= (100 / @today_memories.length) * @today_memories.where(stage: 1).length %><% end %>%" title="step1">
							<p class="stage-period">
								<% if @today_memories.empty? || @today_memories.where(stage: 1).length == 0%><span class="clear">clear</span>
								<% else %><%= @today_memories.where(stage: 1).length %>個<% end %></p>
						</span>
					<% end %>
				</li>
				<% @memory_group.memory_stages.where.not(stage: nil).each do |n| %>
					<li>
						<% if @memory_group.loop == 1 %>
							<span style="height:<% if @today_memories.empty? %>0<% else %><%= (100 / @today_memories.length) * @today_memories.where(stage: n.stage).length %><% end %>%" title="step<%= n.stage %>">
								<p class="stage-period">
									<% if @today_memories.empty? || @today_memories.where(stage: n.stage).length == 0  %><span class="clear">clear</span>
									<% else %><%= @today_memories.where(stage: n.stage).length %>個<% end %></p>
							</span>
						<% else %>
							<span style="height:<% if @today_memories.empty? %>0<% else %><%= (100 / @today_memories.length) * @today_memories.where(stage: n.stage).length %><% end %>%" title="step<%= n.stage %>">
								<p class="stage-period">
									<% if @today_memories.empty? || @today_memories.where(stage: n.stage).length == 0  %><span class="clear">clear</span>
									<% else %><%= @today_memories.where(stage: n.stage).length %>個<% end %></p>
							</span>
						<% end %>
					</li>
				<% end %>
				<% if @memory_group.loop == 1 %>
					<li>
						<span style="height:<% if @today_memories.empty? %>0<% else %><%= (100 / @today_memories.length) * @today_memories.where(stage: 0).length %><% end %>%" title="comp">
							<p class="stage-period">
								<% if @today_memories.empty? || @today_memories.where(stage: 0).length == 0%><span class="clear">clear</span>
								<% else %><%= @today_memories.where(stage: 0).length %>個<% end %></p>
						</span></li>
				<% end %>
			</ul>
		</div>
		<div id="create-modal" class="lity-hide">
		 	<div class="modal-content">
				<div class="modal-form">
				    <h3>Memory create</h3>
				    <hr>
				    <%= form_for [@memory_group,@memory], html: {name: 'form1'} do |f| %>
					    <div class="problem-box">
							<div class="field">
								<label class="label-box" for="memory_problem_image">
							      <div class="img-box">
							        <img class="preview_memory_problem_image" >
							        <i class="far fa-image"></i>
							      </div>
							    </label>
								<%= f.attachment_field :problem_image %>
							</div>
							<div class="field">
								<%= f.label :problem_content %><br />
								<%= f.text_area :problem_content %>
							</div>
					    </div>
					    <div class="answer-box">
							<div class="field">
								<label class="label-box" for="memory_answer_image">
									<div class="img-box">
										<img class="preview_memory_answer_image" >
										<i class="far fa-image"></i>
									</div>
								</label>
								<%= f.attachment_field :answer_image %>
							</div>
							<div class="field">
								<%= f.label :answer_content %><br />
								<%= f.text_area :answer_content %>
							</div>
					    </div>
						<div class="actions">
							<%= f.submit '作成', class: "edit-btn", onClick: "return checkForm();" %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="today-box2">
		<h3>List of today</h3>
		<table class='table'>
			<tbody>
				<% if @memory_group.loop == 1 && @today_memories.present? %>
					<tr>
						<td><%= link_to "All Step", memory_group_memories_path(@memory_group, stage: "all") %></td>
						<td><%= @today_memories.length %> 個</td>
					</tr>
				<% elsif @memory_group.loop == 0 && @today_memories.present? %>
					<tr>
						<td><%= link_to "All Step", memory_group_memories_path(@memory_group, stage: "all") %></td>
						<td><%= @today_memories.length %> 個</td>
					</tr>
				<% else %>
					<tr>
						<td>All Step</td>
						<td>0 個</td>
					</tr>
				<% end %>
				<% if @today_memories.where(stage: 1).present? %>
					<tr>
						<td><%= link_to "Step1", memory_group_memories_path(@memory_group, stage: 1) %></td>
						<td><%= @today_memories.where(stage: 1).length %> 個</td>
					</tr>
				<% else %>
					<tr>
						<td>Step1</td>
						<td>0 個</td>
					</tr>
				<% end %>
				<% @memory_group.memory_stages.where.not(stage: nil).each do |n| %>
					<% if @today_memories.where(stage: n.stage).present? %>
						<tr>
							<td>
								<%= link_to memory_group_memories_path(@memory_group, stage: n.stage) do %>
									Step <%= n.stage %>
								<% end %>
							</td>
							<td><%= @today_memories.where(stage: n.stage).length %> 個</td>
						</tr>
					<% else %>
						<tr>
							<td>Step<%= n.stage %></td>
							<td>0 個</td>
						</tr>
					<% end %>
				<% end %>
				<% if @memory_group.loop == 1 %>
					<% if @today_memories.present? %>
						<tr>
							<td><%= link_to "Comp", memory_group_memories_path(@memory_group, stage: 0) %></td>
							<td><%= @today_memories.where(stage: 0).length %> 個</td>
						</tr>
					<% else %>
						<tr>
							<td>Comp</td>
							<td>0 個</td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
		<div class="modal-form">
		    <h3>Memory create</h3>
		    <hr>
		    <%= form_for [@memory_group,@memory], html: {name: 'modal_form'} do |f| %>
			    <div class="problem-box">
					<div class="field">
						<label class="label-box" for="memory_problem_image_attributes_problem_image1">
					      <div class="img-box">
					        <img class="preview_memory_problem_image_attributes_problem_image1" >
					        <i class="far fa-image"></i>
					      </div>
					    </label>
						<%= f.attachment_field :problem_image, id: 'memory_problem_image_attributes_problem_image1' %>
					</div>
					<div class="field">
						<%= f.label :problem_content %><br />
						<%= f.text_area :problem_content %>
					</div>
			    </div>
			    <div class="answer-box">
					<div class="field">
						<label class="label-box" for="memory_answer_image_attributes_answer_image1">
							<div class="img-box">
								<img class="preview_memory_answer_image_attributes_answer_image1" >
								<i class="far fa-image"></i>
							</div>
						</label>
						<%= f.attachment_field :answer_image, id: 'memory_answer_image_attributes_answer_image1' %>
					</div>
					<div class="field">
						<%= f.label :answer_content %><br />
						<%= f.text_area :answer_content %>
					</div>
			    </div>
				<div class="actions">
					<%= f.submit '作成', class: "edit-btn", onClick: "return checkForm2();" %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<script>
	$('input[type=file]').on('change', function (e) {
		var str = $(this).attr("id");
	    var reader = new FileReader();
	    reader.onload = function (e) {
	        $(".preview_" + str).attr('src', e.target.result);
	    }
	    reader.readAsDataURL(e.target.files[0]);
	});
	function checkForm(){
	    if(document.form1.memory_problem_content.value == "" && document.form1.memory_problem_image.value == ""){
	        alert("problemフォームには、最低1項目の入力が必要です。");
			return false;
	    }else{
			return true;
	    }
	};
	function checkForm2(){
	    if(document.modal_form.memory_problem_content.value == "" && document.getElementById("memory_problem_image_attributes_problem_image1").value == ""){
	        alert("problemフォームには、最低1項目の入力が必要です。");
			return false;
	    }else{
			return true;
	    }
	}
</script>