
<%= stylesheet_link_tag "diaries/new", :media => "all" %>

<div class="container">
  <div class="row diary-head">
    <h2>edit diary</h2>
    <% @diary.diary_images.each.with_index(0) do |g, i| %>
      <label class="label-box" for="diary_diary_images_attributes_<%= i %>_diary_image">
        <div class="img-box">
          <%= attachment_image_tag g, :diary_image, format: 'jpeg', class: 'preview'+i.to_s %>
          <img class="preview<%= i %>" >
          <i class="far fa-image"></i>
        </div>
      </label>
    <% end %>
  </div>
  <div class="row">
    <%= form_for @diary do |f| %>

      <%= f.fields_for :diary_images do |i| %>
        <%= i.attachment_field :diary_image %>
      <% end %>

      <div class="field">
          <%= f.label :title %><br />
          <%= f.text_field :title, class: 'title_field' %>
      </div>

      <div class="field">
        <%= f.label :content %><br />
        <%= f.text_area :content, class: 'content_field' %>
      </div>

      <div class="field">
        <%= f.label :diary_date, 'Date' %><br />
        <%= f.date_field :diary_date, value: Date.current %>
      </div>

      <div class="field">
        <div class="pretty p-switch p-fill">
          <% if current_user.public_setting == 1 %>
            <%= f.check_box :inform_status, {:checked => true, :id => 'public-id'}, "公開", "非公開" %>
          <% else %>
            <%= f.check_box :inform_status, {:id => 'private-id'}, "公開", "非公開" %>
          <% end %>
            <div class="state p-success">
                <label>公開する</label>
            </div>
        </div>
      </div>

      <div class="actions">
          <%= f.submit 'update', class: "create-btn" %>
          <%= link_to "delete", diary_path(@diary), method: :delete, class: 'delete-btn', "data-confirm" => "本当に削除しますか?" %>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag "diary.js" %>
