<div class="row">
	<h4>一覧</h4>
	<table class="table">
		<% @diaries.each do |d| %>
		<tr>
			<th><%= d.diary_date %></th>
			<th><%= d.title %></th>
			<th><%= d.content %></th>
			<th><%= d.inform_status %></th>
			<th><%= link_to 'show', diary_path(d.id), class: "btn" %></th>

			<% d.diary_images.each do |g| %>
	        <th><%= g.id %></th>
	        <th><%= attachment_image_tag g, :diary_image, :fill, 80, 80, format: 'jpeg' %></th>
	        <% end %>
		</tr>
		<% end %>
	</table>
	<%= link_to 'new', new_diary_path, class: "" %>
</div>

<%= form_tag search_diaries_path, :method => 'get' do %>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "検索", :title => nil, :content => nil %>
<% end %>