
<%= stylesheet_link_tag "diaries/index", :media => "all" %>

<div class="container">
	<div class="row">
		<div class="search">
			<%= form_tag search_diaries_path, :method => 'get', id: 'search-form' do %>
				<%= text_field_tag :search, params[:search], id: 'sbox' %>
				<button id="sbtn" type="submit"><i class="fas fa-search"></i></button>
			<% end %>
		</div>
	</div>
	<div class="row diary-main">
		<h2 class="search-h2">search results</h2>
		<% if @diaries.length == 0 %>
			<p>一致するものは見つかりませんでした。</p>
		<% else %>
			<div class="diary-box">
				<% @diaries.each do |d| %>
					<% if d.diary_images.exists? %>
						<div class="diary-list">
							<div class="img-box">
								<%= attachment_image_tag d.diary_images[0], :diary_image, format: 'jpeg' %>
							</div>
							<div class="diary-content">
								<h4><%= d.title.truncate(18) %></h4>
								<p><%= d.content.truncate(80) %></p>
							</div>
							<p class="date"><%= d.diary_date.strftime("%Y.%m.%d") %></p>
							<%= link_to 'more', diary_path(d), class: "btn" %>
						</div>
					<% else %>
						<div class="diary-list list2">
							<div class="diary-content">
								<h4><%= d.title.truncate(40) %></h4>
								<p><%= d.content.truncate(300) %></p>
							</div>
							<p class="date"><%= d.diary_date.strftime("%Y.%m.%d") %></p>
							<%= link_to 'more', diary_path(d), class: "btn" %>
						</div>
					<% end %>
				<% end %>
			</div>
		<% end %>
	</div>
	<div class="row paginate-box">
		<%= paginate @diaries %>
	</div>
</div>
