
<%= stylesheet_link_tag "diaries/show", :media => "all" %>

<div class="container">
	<div class="row diary-main">
		<h2><%= @diary.title %></h2>
		<% if @diary.diary_images.exists? %>
			<div class="img-box">
				<ul class="slider">
					<% @diary.diary_images.each do |g| %>
						<li><%= attachment_image_tag g, :diary_image, format: 'jpeg' %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
		<div class="diary-content">
			<p><%= @diary.content %></p>
		</div>
		<p class="detail">
			<% if user_signed_in? %>
				<% if @diary.favorited_by?(current_user) %>
		    		<%= link_to diary_favorites_path(@diary), method: :delete, class: 'favorite' do %>
		      			<i class="far fa-thumbs-up" aria-hidden="true" style="color: red;"></i>
		      			<%= @diary.favorites.count %> いいね
		    		<% end %>
				<% else %>
		    		<%= link_to diary_favorites_path(@diary), method: :post, class: 'favorite' do %>
		      			<i class="far fa-thumbs-up" aria-hidden="true"></i>
		      			<%= @diary.favorites.count %> いいね
		    		<% end %>
				<% end %>
			<% end %>
			<%= @diary.diary_date.strftime("%Y.%m.%d") %>
		</p>
		<div class="user-info">
			<p class="name"><%= link_to @diary.user.name, user_path(@diary.user), class: "btn" %></p>
			<% if user_signed_in? %>
				<%= render 'users/follow_form' %>
			<% end %>
			<% if current_user == @diary.user %>
				<%= link_to "edit", edit_diary_path(@diary), class: "btn btn2" %>
			<% end %>
		</div>
		<div class="comment-form">
			<% if user_signed_in? %>
				<%= form_for [@diary,@diary_comment] do |f| %>
					<%= f.text_field :comment, placeholder: "コメントする", class: "comment-field" %>
		  			<button type="submit"><i class="fas fa-plus"></i></button>
				<% end %>
			<% end %>
		</div>
		<div class="comment-li">
			<% @diary.diary_comments.each do |d| %>
				<p class="name"><%= d.user.name %></p>
				<p class="comment"><%= d.comment %></p>
			<% end %>
		</div>
	</div>
</div>

<%= javascript_include_tag "diary.js" %>
