
<%= stylesheet_link_tag "users/edit", :media => "all" %>

<div class="container">
	<div class="row">
		<h2><%= link_to "Profile edit", user_path(current_user.id) %></h2>
		<%= form_for(@user) do |f| %>
		 	<div class="edit-table">
				<table class='table'>
					<tr>
				    	<th>
				    		<label class="label-box" for="user_profile_image">
        						<div class="img-box">
          							<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "/images/no_image.jpg", class: "preview" %>
						        </div>
						     </label>
						     <%= f.attachment_field :profile_image %>
						</th>
				  	</tr>
				  	<tr>
				    	<th><%= f.label :name, "お名前", class: 'label1' %></th>
				    	<th><%= f.text_field :name %></th>
				  	</tr>

				  	<tr>
				    	<th><%= f.label :email, class: 'label1' %></th>
				    	<th><%= f.email_field :email %></th>
				  	</tr>
				  	<tr>
				  		<th><%= f.label :public_setting, "プライベート設定", class: 'label1' %></th>
				    	<th>
				    		<div class="pretty p-switch p-fill">
        						<%= f.check_box :public_setting %>
        							<div class="state p-success">
            							<label>diaryを公開する</label>
        							</div>
    						</div>
				    	</th>
				  	</tr>
				</table>
				<%= f.submit "保存", class: 'edit-btn' %>
			</div>
		<% end %>
	</div>
</div>

<%= javascript_include_tag "user.js" %>
