
<div class="container">
	<div class="row">
		<h2>マイページ</h2>
		<div class="link">
			<% if current_user?(@user) %>
				<%= link_to "編集", edit_user_path(current_user.id), class: "btn" %>
				<%= link_to "パスワード変更はこちら", edit_password_user_path(current_user.id), class: "btn" %>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3">
			<table class='table'>
				<tr>
			    	<th>
			    		<a href="#lity" data-lity="data-lity">
			    			<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "/images/no_image.jpg" %>
			    		</a>
		    			<div id="lity" class="lity-hide">
		    				<%= attachment_image_tag @user, :profile_image, :fill, 800, 500, format: 'jpeg', fallback: "/images/no_image.jpg" %>
		    			</div>
			    	</th>
			  	</tr>
			  	<tr>
			    	<th><%= @user.name %></th>
			  	</tr>
			  	<tr>
			    	<th><%= @user.email %></th>
			  	</tr>
			  	<tr>
			    	<th><%= render 'follow_form' %> <%= render 'stats' %></th>
			  	</tr>
			</table>
		</div>
	</div>
</div>




