
<%= stylesheet_link_tag "memories/show", :media => "all" %>

<style type="text/css" media="screen">
	.p-text-box {
		<% if @memory.problem_content.length > 50 || @memory.answer_content.length > 50 %>
			font-size: 20px;
		<% else %>
			font-size: 24px;
		<% end %>
	}
</style>

<div class="container">
	<div class="row">
		<p class="back-link">　<%= link_to @memory_group.title, memory_group_path(@memory_group) %></p>
		<p class="rest">　　ALL : step <%= @memory.stage %>　残り <%= @memories.length %> 個</p>
		<div class="memory-box">
			<div class="problem-box">
				<% if @memory.problem_image.present? %>
					<div class="p-img-box">
						<a href="#lity" data-lity="data-lity">
			    			<%= attachment_image_tag @memory, :problem_image, format: 'jpeg' %>
			    		</a>
			    		<div id="lity" class="lity-hide preview">
		    				<%= attachment_image_tag @memory, :problem_image, format: 'jpeg' %>
		    			</div>
					</div>
				<% end %>
				<div class="p-text-box"><p><%= @memory.problem_content %></p></div>
			</div>
			<div class="answer-box">
				<div class="answer1">
					<% if @memory.answer_image.present? || @memory.answer_content.present? %>
						<a href="#open-answer" class="open-answer">答えを見る</a>
			        <% else %>
			        	<div class="answer-btn">
							<%= link_to correct_path(@memory) do %>
								<div class="correct-btn"></div>
							<% end %>
			        		<%= link_to wrong_path(@memory) do %>
			        			<div class="wrong-btn"></div>
			        		<% end %>
						</div>
					<% end %>
				</div>
				<div class="answer2 hide">
					<% if @memory.answer_image.present? %>
						<div class="p-img-box">
							<a href="#lity1" data-lity="data-lity">
				    			<%= attachment_image_tag @memory, :answer_image, format: 'jpeg' %>
				    		</a>
				    		<div id="lity1" class="lity-hide preview">
			    				<%= attachment_image_tag @memory, :answer_image, format: 'jpeg' %>
			    			</div>
						</div>
					<% end %>
					<div class="p-text-box"><p><%= @memory.answer_content %></p></div>
					<div class="answer-btn2">
						<%= link_to correct_path(@memory) do %>
							<div class="correct-btn"></div>
						<% end %>
		        		<%= link_to wrong_path(@memory) do %>
		        			<div class="wrong-btn"></div>
		        		<% end %>
					</div>
				</div>
			</div>
			<p class="try-number">正解率　<%= @memory.correct_num %> / <%= @memory.correct_num + @memory.wrong_num %><a href="#edit-modal" data-lity="data-lity" class="edit-mark">　＊</a></p>
		</div>

		<div id="edit-modal" class="lity-hide">
			<div class="modal-content">
				<div class="modal-form">
				    <h3>Memory edit</h3>
				    <hr>
				    <%= form_for @memory, url: memory_path(@memory) do |f| %>
					    <div class="problem-box">
							<div class="field">
								<label class="label-box" for="memory_problem_image<%= @memory.id %>">
							      <div class="img-box">
							      	<%= attachment_image_tag @memory, :problem_image, format: 'jpeg', class: 'preview_memory_problem_image'+@memory.id.to_s %>
							      	<img class="preview_memory_problem_image<%= @memory.id %>" >
							        <i class="far fa-image"></i>
							      </div>
							    </label>
								<%= f.attachment_field :problem_image, id: 'memory_problem_image'+@memory.id.to_s %>
							</div>
							<div class="field">
								<%= f.label :problem_content %><br />
								<%= f.text_area :problem_content %>
							</div>
					    </div>
					    <div class="answer-box">
							<div class="field">
								<label class="label-box" for="memory_answer_image<%= @memory.id %>">
									<div class="img-box">
										<%= attachment_image_tag @memory, :answer_image, format: 'jpeg', class: 'preview_memory_answer_image'+@memory.id.to_s %>
										<img class="preview_memory_answer_image<%= @memory.id %>" >
										<i class="far fa-image"></i>
									</div>
								</label>
								<%= f.attachment_field :answer_image, id: 'memory_answer_image'+@memory.id.to_s %>
							</div>
							<div class="field">
								<%= f.label :answer_content %><br />
								<%= f.text_area :answer_content %>
							</div>
					    </div>
						<div class="actions">
							<%= f.submit '更新', class: "edit-btn" %>
							<%= link_to "削除", memory_path(@memory), method: :delete, class: 'delete-btn', "data-confirm" => "本当に削除しますか?" %>
						</div>
					<% end %>
				</div>
			</div>
		</div>

		<div class="memory-box2">
			<div class="folder-tabs">
				<div class="first-tab tab1"><p>problem</p></div>
				<% unless @memory.answer_image.blank? && @memory.answer_content.blank? %>
					<div class="behind-tab tab2"><p>answer</p></div>
				<% end %>
			</div>
			<div class="folder-body">
				<div id="panel1">
					<div class="box-l">
						<% if @memory.problem_image.present? %>
							<div class="p-img-box">
								<a href="#lity" data-lity="data-lity">
					    			<%= attachment_image_tag @memory, :problem_image, format: 'jpeg' %>
					    		</a>
					    		<div id="lity" class="lity-hide preview">
				    				<%= attachment_image_tag @memory, :problem_image, format: 'jpeg' %>
				    			</div>
							</div>
						<% end %>
						<div class="p-text-box"><p><%= @memory.problem_content %></p></div>
					</div>
					<% if @memory.answer_image.blank? && @memory.answer_content.blank? %>
						<div class="answer2">
							<div class="answer-btn2">
								<%= link_to correct_path(@memory) do %>
									<div class="correct-btn"></div>
								<% end %>
				        		<%= link_to wrong_path(@memory) do %>
				        			<div class="wrong-btn"></div>
				        		<% end %>
							</div>
						</div>
					<% end %>
				</div>
				<div id="panel2" class="hide">
					<div class="answer2">
						<% if @memory.answer_image.present? %>
							<div class="p-img-box">
								<a href="#lity1" data-lity="data-lity">
					    			<%= attachment_image_tag @memory, :answer_image, format: 'jpeg' %>
					    		</a>
					    		<div id="lity1" class="lity-hide preview">
				    				<%= attachment_image_tag @memory, :answer_image, format: 'jpeg' %>
				    			</div>
							</div>
						<% end %>
						<div class="p-text-box"><p><%= @memory.answer_content %></p></div>
						<div class="answer-btn2">
							<%= link_to correct_path(@memory) do %>
								<div class="correct-btn"></div>
							<% end %>
			        		<%= link_to wrong_path(@memory) do %>
			        			<div class="wrong-btn"></div>
			        		<% end %>
						</div>
					</div>
					<p class="try-number">正解率　<%= @memory.correct_num %> / <%= @memory.correct_num + @memory.wrong_num %></p>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(function(){
		$(".open-answer").click(function(){
			$('.answer1').addClass("hide");
		  	$('.answer2').removeClass("hide");
		});
	});
	$(function(){
		$(".tab1").click(function(){
			$('#panel2').addClass("hide");
		  	$('#panel1').removeClass("hide");
		  	$('.tab1').addClass("first-tab");
		  	$('.tab1').removeClass("behind-tab");
		  	$('.tab2').addClass("behind-tab");
		  	$('.tab2').removeClass("first-tab");
		});
	});
	$(function(){
		$(".tab2").click(function(){
			$('#panel1').addClass("hide");
		  	$('#panel2').removeClass("hide");
		  	$('.tab2').addClass("first-tab");
		  	$('.tab2').removeClass("behind-tab");
		  	$('.tab1').addClass("behind-tab");
		  	$('.tab1').removeClass("first-tab");
		});
	});
	$('input[type=file]').on('change', function (e) {
		var str = $(this).attr("id");
	    var reader = new FileReader();
	    reader.onload = function (e) {
	        $(".preview_" + str).attr('src', e.target.result);
	    }
	    reader.readAsDataURL(e.target.files[0]);
	});
</script>

