
<h2>memory編集</h2>

<%= form_for @memory do |f| %>

	<div class="field">
		<%= f.label :stage %><br />
		<%= f.number_field :stage %>
	</div>

	<div class="field">
		<%= f.label :execution_date %><br />
		<%= f.date_field :execution_date %>
	</div>

	<%= f.fields_for :problem do |problem| %>
		<div class="field">
			<%= problem.label :problem_content %><br />
			<%= problem.text_field :problem_content %>
		</div>
	<% end %>

	<%= f.fields_for :problem_image do |p_image| %>
		<div class="field">
			<%= p_image.label :problem_image %><br />
			<%= p_image.attachment_field :problem_image %>
		</div>
	<% end %>

	<%= f.fields_for :answer do |answer| %>
		<div class="field">
			<%= answer.label :answer_content %><br />
			<%= answer.text_field :answer_content %>
		</div>
	<% end %>

	<%= f.fields_for :answer_image do |a_image| %>
		<div class="field">
			<%= a_image.label :answer_image %><br />
			<%= a_image.attachment_field :answer_image %>
		</div>
	<% end %>

	<div class="actions">
		<%= f.submit '作成', class: "btn btn-primary" %>
	</div>
<% end %>