
<%= stylesheet_link_tag "memories/index", :media => "all" %>

<style type="text/css" media="screen">
	.memory-box {
 	 	min-width: 50vw;
 	 	<% if @memory_group.memory_stages.present? %>
 	 		width: <%= (@memory_group.memory_stages.length + 2) * 9 %>vw;
 	 	<% end %>
	}
</style>

<div class="container">
	<div class="row headline">
		<h2><%= link_to memory_group_path(@memory_group) do %>Index in <%= @memory_group.title %><% end %></h2>
	</div>
	<hr>
	<div class="row">
		<div class="memory-box">
			<div class="folder-tabs">

  				<div class="first-tab"><p>Index</p></div>
  				<div class="behind-tab">
  					<% if @memories.present? %>
  						<%= link_to "All memories", step_index_path(@memory_group, stage: "all") %>
  					<% else %>
  						<p>All memories</p>
  					<% end %>
  				</div>
			    <div class="behind-tab">
			    	<% if @memories.present? && @memories.where(stage: 1).present? %>
			    		<%= link_to "Step1", step_index_path(@memory_group, stage: 1) %>
			    	<% else %>
			    		<p>Step1</p>
			    	<% end %>
			    </div>
			    <% @memory_group.memory_stages.where.not(stage: nil).each do |n| %>
	    			<div class="behind-tab">
		    			<% if @memories.present? && @memories.where(stage: n.stage).present? %>
		    				<%= link_to step_index_path(@memory_group, stage: n.stage) do %>Step<%= n.stage%><% end %>
		    			<% else %>
		    				<p>Step<%= n.stage%></p>
		    			<% end %>
		    		</div>
			    <% end %>
			    <div class="behind-tab">
			    	<% if @memories.present? && @memories.where(stage: 0).present? %>
			    		<%= link_to "Comp", step_index_path(@memory_group, stage: 0) %>
			    	<% else %>
			    		<p>Comp</p>
			    	<% end %>
			    </div>
  			</div>

  			<div class="folder-body">
				<ul class="chart">
					<li>
						<span style="height:<% if @memories.empty? %>0
							<% else %><%= (100 / @memories.length) * @memories.where(stage: 1).length %><% end %>%" title="step1">
							<% if @memories.present? && @memories.where(stage: 1).length > 0 %>
								<p class="period"><%= @memories.where(stage: 1).length %>個</p>
							<% end %>
						</span>
					</li>
					<% @memory_group.memory_stages.where.not(stage: nil).each do |n| %>
						<li>
							<span style="height:<% if @memories.empty? %>0
							<% else %><%= (100 / @memories.length) * @memories.where(stage: n.stage).length %><% end %>%" title="step<%= n.stage %>">
							<p class="stage-period"><%= n.period %>日</p>
							<% if @memories.present? && @memories.where(stage: n.stage).length > 0 %>
								<p class="period"><%= @memories.where(stage: n.stage).length %>個</p>
							<% end %>
							</span>
						</li>
					<% end %>
					<li>
						<span style="height:<% if @memories.empty? %>0
							<% else %><%= (100 / @memories.length) * @memories.where(stage: 0).length %><% end %>%" title="Comp">
							<% if @memory_group.loop == 1 %>
								<p class="stage-period"><%= @memory_group.period %>日</p>
							<% end %>
							<% if @memories.present? && @memories.where(stage: 0).length > 0 %>
								<p class="period"><%= @memories.where(stage: 0).length %>個</p>
							<% end %>
						</span>
					</li>
				</ul>
			</div>
  		</div>
  		<div class="memory-box2">
		<table class='table'>
			<tbody>
				<tr>
					<td>
						<% if @memories.present? %>
							<%= link_to "All memories", step_index_path(@memory_group, stage: "all") %>
						<% else %>
							<p>All memories</p>
						<% end %>
					</td>
					<td><p><%= @memories.length %> 個</p></td>
				</tr>
				<% @memory_group.memory_stages.where.not(stage: nil).each do |n| %>
					<tr>
						<td>
							<% if @memories.present? && @memories.where(stage: n.stage).present? %>
								<%= link_to step_index_path(@memory_group, stage: n.stage) do %>Step<%= n.stage%><% end %>
		    				<% else %>
		    					<p>Step<%= n.stage%></p>
		    				<% end %>
						</td>
						<td><p><%= @memories.where(stage: n.stage).length %> 個</p></td>
					</tr>
			    <% end %>
			    <tr>
					<td>
						<% if @memories.present? && @memories.where(stage: 0).present? %>
			    			<%= link_to "Comp", step_index_path(@memory_group, stage: 0) %>
			    		<% else %>
			    			<p>Comp</p>
			    		<% end %>
					</td>
					<td><p><%= @memories.where(stage: 0).length %> 個</p></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
