<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'slick', media: 'all' %>
    <%= stylesheet_link_tag    'slick-theme', media: 'all' %>
    <%= stylesheet_link_tag    'lity', media: 'all' %>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'slick.min' %>
    <%= javascript_include_tag 'lity' %>

  </head>

  <body>

      <% if @header_flag != true %>

        <header class="header1">
          <nav>
            <ul>
              <p class="home-li">
                <%= link_to homes_path, class: "home1" do %>
                  <%= image_tag('logo1.jpg', :size => '15x15', :alt => 'アイコン', class: 'logo1') %>
                  <%= image_tag('logo2.jpg', :size => '25x40', :alt => 'アイコン', class: 'logo2') %>
                  <span class="app-title1">ec change</span>
                <% end %>
              </p>

              <% if admin_signed_in? %>
                <li><%= link_to 'Users', admin_users_path, class: "" %></li>
                <li><%= link_to 'Admins', admins_path, class: "" %></li>
                <li><%= link_to 'logout', destroy_admin_session_path, method: :delete, "data-confirm" => "本当にログアウトしますか？", class: "" %></li>

              <% elsif user_signed_in? %>
                <li><%= link_to 'to_do', task_groups_path, class: "menu" %>
                  <% if current_user.task_groups.exists? %>
                    <ul>
                      <% current_user.task_groups.each do |task| %>
                        <% if task.title.length >= 16 %>
                          <li><%= link_to task.title[0,15]+'...', task_group_path(task), class: "" %></li>
                        <% else %>
                          <li><%= link_to task.title, task_group_path(task), class: "" %></li>
                        <% end %>
                      <% end %>
                    </ul>
                  <% end %>
                </li>
                <li><%= link_to 'memory', memory_groups_path, class: "" %>
                  <ul>
                    <% current_user.memory_groups.order(position_id: :asc).each do |memory| %>
                      <% if memory.title.length >= 16 %>
                        <li><%= link_to memory.title[0,15]+'...', memory_group_path(memory), class: "" %></li>
                      <% else %>
                        <li><%= link_to memory.title, memory_group_path(memory), class: "" %></li>
                      <% end %>
                    <% end %>
                  </ul>
                </li>
                <li><%= link_to 'diary', diaries_path, class: "" %>
                  <ul>
                    <li><%= link_to 'new diary', new_diary_path, class: "" %></li>
                  </ul>
                </li>
                <li><%= link_to 'my page', user_path(current_user), class: "" %></li>
                <li><%= link_to 'logout', destroy_user_session_path, method: :delete, "data-confirm" => "本当にログアウトしますか？", class: "" %></li>

              <% else %>
                <li><%= link_to 'login', new_user_session_path, class: "" %></li>
                <li><%= link_to 'sign up', new_user_registration_path, class: "" %></li>
              <% end %>
            </ul>
          </nav>
        </header>

        <div class="header2">
          <p class="home-li">
            <%= link_to homes_path, class: "home1" do %>
              <%= image_tag('logo1.jpg', :size => '15x15', :alt => 'アイコン', class: 'logo1') %>
              <%= image_tag('logo2.jpg', :size => '25x40', :alt => 'アイコン', class: 'logo2') %>
              <span class="app-title1">ec change</span>
            <% end %>
          </p>
          <div id="nav-drawer">
            <input id="nav-input" type="checkbox" class="nav-unshown">
            <label id="nav-open" for="nav-input"><span></span></label>
            <label class="nav-unshown" id="nav-close" for="nav-input"></label>
            <div id="nav-content">
              <ul>
                <% if admin_signed_in? %>
                  <li><%= link_to 'Users', admin_users_path, class: "" %></li>
                  <li><%= link_to 'Admins', admins_path, class: "" %></li>
                  <li><%= link_to 'logout', destroy_admin_session_path, method: :delete, "data-confirm" => "本当にログアウトしますか？", class: "" %></li>

                <% elsif user_signed_in? %>
                  <li><%= link_to 'to_do', task_groups_path, class: "menu" %>
                    <% if current_user.task_groups.exists? %>
                      <ul class="drop-ul">
                        <% current_user.task_groups.each do |task| %>
                          <% if task.title.length >= 9 %>
                            <li><%= link_to task.title[0,8]+'...', task_group_path(task), class: "drop" %></li>
                          <% else %>
                            <li><%= link_to task.title, task_group_path(task), class: "drop" %></li>
                          <% end %>
                        <% end %>
                      </ul>
                    <% end %>
                  </li>
                  <li><%= link_to 'memory', memory_groups_path, class: "" %>
                    <ul class="drop-ul">
                      <% current_user.memory_groups.each do |memory| %>
                        <% if memory.title.length >= 9 %>
                          <li><%= link_to memory.title[0,8]+'...', memory_group_path(memory), class: "drop" %></li>
                        <% else %>
                          <li><%= link_to memory.title, memory_group_path(memory), class: "drop" %></li>
                        <% end %>
                      <% end %>
                    </ul>
                  </li>
                  <li><%= link_to 'diary', diaries_path, class: "" %>
                    <ul class="drop-ul">
                      <li><%= link_to 'new diary', new_diary_path, class: "drop" %></li>
                    </ul>
                  </li>
                  <li><%= link_to 'my page', user_path(current_user), class: "" %></li>
                  <li><%= link_to 'logout', destroy_user_session_path, method: :delete, "data-confirm" => "本当にログアウトしますか？", class: "" %></li>

                <% else %>
                  <li><%= link_to 'login', new_user_session_path, class: "" %></li>
                  <li><%= link_to 'sign up', new_user_registration_path, class: "" %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>

      <% else %>

        <header>
          <div class="row header-box">
            <div class="title-box">
              <%= link_to homes_path, class: "" do %>
                <%= image_tag('logo.jpg', :size => "50x50", :alt => "アイコン") %>
                <span class="app-title">ec change</span>
              <% end %>
            </div>
          </div>
        </header>

      <% end %>

      <% if alert %>
        <div class="alert alert-danger">
          <%= alert %>
        </div>
      <% end %>

      <% if notice %>
        <div class="alert alert-success">
          <%= notice %>
        </div>
      <% end %>

      <%= yield %>



  </body>
</html>
