<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul class="nav navbar-nav navbar-right">
            <li><h3><%= link_to '●Rec' + 'change', homes_path, class: "" %></h3></li>
          <% if admin_signed_in? %>
            <li><%= link_to 'Users', admin_users_path, class: "" %></li>
            <li><%= link_to 'Admins', admins_path, class: "" %></li>
            <li><%= link_to 'logout', destroy_admin_session_path, method: :delete, "data-confirm" => "本当にログアウトしますか？", class: "" %></li>
          <% elsif user_signed_in? %>
            <li><%= link_to 'to_do', task_groups_path, class: "" %></li>
            <li><%= link_to 'memory', memory_groups_path, class: "" %></li>
            <li><%= link_to 'diary', diaries_path, class: "" %></li>
            <li><%= link_to 'my page', user_path(current_user.id), class: "" %></li>
            <li><%= link_to 'logout', destroy_user_session_path, method: :delete, "data-confirm" => "本当にログアウトしますか？", class: "" %></li>
          <% else %>
            <li><%= link_to 'login', new_user_session_path, class: "" %></li>
            <li><%= link_to 'sign up', new_user_registration_path, class: "" %></li>
            <li><%= link_to 'admin login', new_admin_session_path, class: "" %></li>
            <li><%= link_to 'admin sign up', new_admin_registration_path, class: "" %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <div class="container">

      <% if alert %>
        <div class="alert alert-danger">
          <a class="close" data-dismiss="alert">×</a>
          <%= alert %>
        </div>
      <% end %>

      <% if notice %>
        <div class="alert alert-success">
          <a class="close" data-dismiss="alert">×</a>
          <%= notice %>
        </div>
      <% end %>

      <%= yield %>

    </div>



  </body>
</html>
