<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="jquery-3.3.1.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
              <li><h3>Portfolio</h3></li>
            <% if admin_signed_in? %>
              <%= link_to 'ユーザー 一覧', admin_users_path, class: "" %>
              <%= link_to '管理者 一覧', admins_path, class: "" %>
              <%= link_to '管理者ログアウト', destroy_admin_session_path, method: :delete, "data-confirm" => "本当にログアウトしますか？", class: "" %>
            <% elsif user_signed_in? %>
              <li><%= link_to 'タスクリスト', task_groups_path, class: "" %></li>
              <li><%= link_to 'マイページ', user_path(current_user.id), class: "" %></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, "data-confirm" => "本当にログアウトしますか？", class: "" %></li>
            <% else %>
              <%= link_to 'ログイン', new_user_session_path, class: "" %>
              <%= link_to '会員登録', new_user_registration_path, class: "" %>
              <%= link_to '管理者ログイン', new_admin_session_path, class: "" %>
              <%= link_to '管理者登録', new_admin_registration_path, class: "" %>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <% if alert %>
      <div class="flash-text hide"><p class="flash alert-danger"><%= alert %></p></div>
    <% end %>
    <% if notice %>
      <div class="flash-text hide"><p class="flaxh notice"><%= notice %></p></div>
    <% end %>

    <%= yield %>


  </body>
</html>
